<navbar inline-template>
    <nav class="main-nav" role="navigation" aria-label="main navigation">
        <a href="{{ base_url == '' ? '/' : base_url }}" class="main-nav--logo">
            {{ config.site.title }}
        </a>

        <div class="main-nav--list">
            {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}
        </div>

        <a href="" class="main-nav--toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
</navbar>
