<div class="product-content">
    <div class="container">
        <div class="product-content--block">
            <div class="product-content--title">
                <span>Descripción</span>
            </div>
            <div class="product-content--text">{{ page.content }}</div>
        </div>
        <div class="product-content--block">
            <div class="product-content--title">
                <span>Detalles</span>
            </div>
            <ul class="product-content--list">
                <li class="product-content--list-item">
                    <span>Superficie:</span> 
                    {{ page.header.custom.dimension}}m<sup>2</sup>
                </li>
                <li class="product-content--list-item">
                    <span>Tipo:</span> 
                    {{ page.header.custom.groundType}}</sup>
                </li>
                <li class="product-content--list-item">
                    <span>Fachada</span>
                    48m
                </li>
                <li class="product-content--list-item">
                    Solar limpio
                </li>
                <li class="product-content--list-item">
                    <span>Bienes:</span>
                    Caseta aperos 12m<sup>2</sup>
                </li>
                <li class="product-content--list-item is-full-width">
                    <span>Certificado energético:</span>
                    En trámite
                </li>
                <li class="product-content--list-item is-full-width">
                    <span>Dividible:</span>
                    Posibilidad de dividir en 2 terrenos de 400m<sup>2</sup>
                </li>
            </ul>
        </div>
    </div>
</div>
