<div class="product-map">
    <div class="container">
        <div class="product-map--title">Ubicación</div>
        <div class="product-map--location">{{ page.header.custom.location }}</div>
        <div class="product-map--container">
            <img src="https://www.weather-forecast.com/locationmaps/La-Pobla-de-Vallbona.12.gif">
        </div>
    </div>
</div>
