.footer-message {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background: var(--light-color);
    color: var(--gray-dark-color);
}

.footer-message--icon {
    width: 1em;
    height: 1em;
    margin-bottom: 20px;
    font-size: 80px;

    @media (--min-desktop) {
        float: left;
        margin-right: 40px;
        margin-bottom: 20px;
        font-size: 80px;
    }
}

.footer-message--title {
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 1.4;
}

.footer-message--text {
    font-size: 13px;
    line-height: 1.4;
}

.footer-colophon {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--gray-dark-color);
}

.footer-colophon--links {
    margin-bottom: 10px;

    @media (--min-desktop) {
        text-align: center;
    }

    li {
        display: inline-block;
        padding-right: 10px;
    }

    a {
        color: var(--gray-color);
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: .35px;

        &:focus,
        &:hover {
            color: var(--light-color);
        }
    }
}

.footer-colophon--text {
    padding-top: 10px;
    border-top: 1px solid var(--gray-color);
    color: var(--gray-color);
    font-size: 10px;
    line-height: 1.2;

    @media (--min-desktop) {
        text-align: center;
    }
}
