.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    &.is-nav-active {
        @media (--max-tablet) {
            position: fixed;
            background: color(var(--white-color) a(70%));
        }
    }
}

.main-nav--logo {
    padding: 6px 10px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

    .is-nav-active & {
        @media (--max-tablet) {
            color: var(--dark-color);
        }
    }

    .product & {
        color: var(--dark-color);
    }
}

.main-nav--list {
    position: fixed;
    top: 57px;
    right: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: var(--white-color);

    @media (--min-desktop) {
        position: static;
        top: 0;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: auto;
        padding: 0;
        background: transparent;
    }

    .is-nav-active & {
        @media (--max-tablet) {
            display: block;
        }
    }
}

.main-nav--item {
    padding: 15px 0;
}

.main-nav--dropdown {
    position: relative;
}

.main-nav--dropdown-list {
    display: none;
    flex-direction: column;

    @media (--min-desktop) {
        position: absolute;
        top: 50px;
        left: 0;
        min-width: 180px;
        max-width: 300px;
        padding: 10px 0;
        border-radius: 2px;
        background: var(--light-color);
        box-shadow: var(--box-shadow);
    }

    .main-nav--dropdown:hover & {
        @media (--min-desktop) {
            display: flex;
        }
    }

    .main-nav--dropdown.is-open & {
        @media (--max-tablet) {
            display: flex;
        }
    }
}

.main-nav--dropdown-item {
    padding: 8px 10px;
    color: var(--gray-color);
    font-size: 15px;

    &:hover {
        background: color(var(--dark-color) l(90%));
        color: var(--primary-color);
    }
}

.main-nav--link {
    display: block;
    padding: 6px 10px;
    color: var(--dark-color);
    font-size: 15px;
    font-weight: 500;

    @media (--min-desktop) {
        color: var(--light-color);
    }

    &:hover,
    .main-nav--dropdown:hover & {
        @media (--min-desktop) {
            border-radius: 3px;
            background: var(--primary-color);
        }
    }

    .product & {
        color: var(--dark-color);
    }
}

.main-nav--toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44px;
    height: 30px;
    padding: 6px 10px;

    @media (--min-desktop) {
        display: none;
    }

    span {
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 2px;
        background: var(--light-color);
        transform-origin: 50% 50%;
        transition: var(--main-transition);

        .product & {
            background: var(--dark-color);
        }
    }

    .is-nav-active & {
        span {
            background: var(--dark-color);
        }

        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
