{% extends 'partials/base.html.twig' %}

{% block header_navigation %}
    {% include 'partials/navbar.html.twig' with {'template': 'product'} %}
{% endblock %}

{% block content %}

<div class="product-list--item grid-item">
    <a href="#" class="grid-item--anchor">
        <div class="grid-item--image" style="background-image: url(https://source.unsplash.com/400x300/?ground,build);"></div>
        <div class="grid-item--content">
            <h3 class="grid-item--name">Terreno en venta en Vila Est, Pobla de Vallbona</h3>
            <div class="grid-item--location">Pobla de Vallbona, centro.</div>
            <div class="grid-item--details">
                <span>1200m<sup>2</sup></span>
                <span>Urbano</span>
            </div>
            <div class="grid-item--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
            <div class="grid-item--actions">
                <span class="btn" data-href="tel:600100200">
                    <svg class="icon icon-phone-call"><use xlink:href="/svg/svg-symbols.svg#icon-phone-call"></use></svg>
                    600 100 200
                </span>
                <span class="btn">
                    <svg class="icon icon-chat"><use xlink:href="/svg/svg-symbols.svg#icon-chat"></use></svg>
                    Contactar
                </span>
            </div>
        </div>
    </a>
</div>

{% endblock %}
